body{
    background-image: linear-gradient(70deg,yellow,yellowgreen, #8fef8f);
}
h1{
    text-align: center;
    font-family: sans-serif;
}
#form_element{
    text-align: center;
    font-family: sans-serif;
}
li{
    list-style: none;
    font-family: sans-serif;
}
#youdo_button{
    width: 10rem;
    height: 2rem;
    border-color: transparent;
}